/*--------Table of Content----------
* 1.body background
* 2.Logo area
* 3.Coming soon area
*----------------------------------
*/

/*---------------body background-------------------*/
.body-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
}

.image-bg {
    background: url(../img/bg-4.jpg);
    background-size: cover;
    height: 100%;
    overflow: auto;
}

#particles-js {
    width: 100%;
    height: 99%;
    position: absolute;
    z-index: 4;
}

.image-bg .body-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.particle-default-bg {
    background: url(../img/bg-4.jpg);
    background-size: cover;
    height: 100%;
    overflow: auto;
}

.particle .body-overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#surface-shader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 10;
}

#gradient2 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 3;
    background-image: -webkit-radial-gradient(
            80% 10%,
            circle,
            rgb(5, 1, 63),
            transparent
    ),
    -webkit-radial-gradient(80% 50%, circle, rgb(58, 164, 178), transparent),
    -webkit-radial-gradient(20% 80%, 40em 40em, rgb(14, 4, 56), transparent),
    -webkit-radial-gradient(10% 10%, circle, rgb(68, 242, 215), transparent);
}

.gradient-area {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12;
    background: rgba(0, 0, 0, 0.3);
}

/*---------------Logo area-------------------*/
.logo {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.logo img {
    display: block;
    margin: 0 auto;
}

/*---------------Coming soon area-------------------*/
.coming-area {
    padding-top: 50px;
    text-align: center;
}

.coming-area h1 {
    font-size: 30px;
}

.coming-area #typed {
    color: #fff;
    font-weight: 600;
    padding-bottom: 22px;
    padding-top: 10px;
    font-size: 48px;
}

.coming-area .typed-cursor {
    color: #fff;
    font-size: 48px;
    padding-left: 10px;
}

.coming-area .type-wrap {
    margin: 18px 0px;
}

.coming-area h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 18px;
}

.count-num,
.count-date {
    display: inline-block;
}

.count-num {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.count-date {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    vertical-align: bottom;
    margin-left: 6px;
}

.count1,
.count2,
.count3 {
    margin-right: 28px;
}

.date-line {
    width: 10px;
    height: 2px;
    background: #fff;
    display: inline-block;
    margin-right: 28px;
    border-radius: 4px;
}

.coming-area p {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 14px;
    margin-top: 42px;
}

.coming-area .info-btn {
    background: rgba(255, 255, 255, 0.1);
    width: 120px;
    padding: 8px 0px;
    margin: 20px 8px;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-weight: 600;
}

.coming-area .info-btn:hover,
.coming-area .info-btn:focus {
    background: rgba(255, 255, 255, 0.9);
    color: #000;
}

.coming-area .notify-btn {
    width: 120px;
    padding: 10px 0px;
    margin: 20px 10px;
    color: #000;
    border: 0px;
    display: inline-block;
    background: #fff;
    font-weight: 600;
}

.coming-area .notify-btn:hover,
.coming-area .notify-btn:focus {
    background: #dadada;
}

.social-icons {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 28px;
}

.social-icons a i {
    color: #fff;
    text-align: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    line-height: 20px;
    margin: 0px 6px;
    transition: background 0.6s ease-in;
}

.social-icons a:hover,
.social-icons a:focus {
    background: #fff;
    border-color: transparent;
}

.social-icons a:hover i,
.social-icons a:focus i {
    color: #000;
}
